.expenses {
    width: 298px;
    height: 258px;
    /* border: 1px solid black; */
    background-color: beige;
    border-radius: 10px;
    /* overflow-y: scroll; */
}

.table-expenses {
    /* border: 1px solid black; */
    border-collapse: collapse;
}

.th-expenses {
    /* border: 1px solid black; */
    /* padding: 10px; */
}